/* /* Material Table CSS */

.jobsTableMain {
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.link:hover {
  color: blue;
  cursor: pointer;
}

.headerHeading {
  cursor: pointer;
}

@media screen and (min-width: 1120px) {
  .jobsGridBody {
    word-break: break-all;
  }
}

.textFields {
  width: 40px;
  height: 10px;
}

.UpcomingItemsTable .userprofile {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.UpcomingItemsCout {
  border-radius: 14px !important;
  background: #ffffff !important;
  box-shadow: 0px 4px 15px rgba(58, 96, 110, 0.15) !important;
  padding: 24px;
}
.UpcomingItemsTable .userprofile span {
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 8px !important;
}
.UpcomingItemsTable .userprofile span img {
  width: 100%;
  height: 100%;
}
.UpcomingItemsTable .filterImg {
  margin-left: 10px !important;
  display: inline-block;
  cursor: pointer;
}
.UpcomingItemsCout .topHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.UpcomingItemsCout .topHead span {
  margin-left: 24px !important;
  display: inline-block;
  cursor: pointer;
}
.UpcomingItemsCout .tableFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  width: 100% !important;
  max-width: 100% !important;
}
.UpcomingItemsCout .entries span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #3a606e;
}
.UpcomingItemsCout .tableFooter .PaginationHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tableFooter .paginationBox {
  width: 200px;
}
.tableFooter
  .paginationBox
  .MuiPagination-ul
  li:first-child
  .MuiPaginationItem-root {
  border: unset !important;
}
.tableFooter
  .paginationBox
  .MuiPagination-ul
  li:last-child
  .MuiPaginationItem-root {
  border: unset !important;
}
.tableFooter .selectPageBox {
  width: 94px;
  margin-left: 16px !important;
}
.tableFooter .selectPageBox .MuiSelect-select {
  padding: 0 16px !important;
  height: 24px !important;
  border: 1px solid #373f41 !important;
}
.tableFooter .selectPageBox .MuiSelect-select.Mui-selected {
  border: 1px solid #373f41 !important;
}

.tableFooter .selectPageBox .MuiFormControl-root {
  position: relative !important;
}
.tableFooter .selectPageBox .MuiInputBase-root {
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #152428 !important;
}
.tableFooter .selectPageBox .MuiSelect-select .MuiOutlinedInput-input {
  border-radius: 5px !important;
  outline: none !important;
}
.tableFooter .GotoBox {
  width: 91px;
  margin-left: 16px !important;
}
.tableFooter .GotoBox .MuiFormGroup-root {
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  justify-content: space-between !important;
  align-items: center;
}
.tableFooter .GotoBox .MuiInputBase-input {
  width: 40px !important;
  padding: 0 10px !important;
  border: 1px solid #3a606e !important;
  border-radius: 5px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  height: 24px !important;
  color: #152428 !important;
}
.tableFooter .GotoBox .MuiInputBase-input.Mui-selected {
  background-color: white !important;
}
.css-zffor1-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover {
  background-color: transparent !important;
}
.css-zffor1-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: transparent !important;
}
.tableFooter .GotoBox .label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #3a606e;
}
.tableFooter .MuiOutlinedInput-root {
  padding: 0 !important;
  border: unset !important;
}

.lastDate {
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .headersMainJobs {
    width: 120vh;
  }
  .tableFooterMainJobs {
    width: 120vh;
  }
}

/* The New Styles */
.headersMainJobs {
  margin-bottom: 30px;
}

.jobsHeaderCard {
  color: black;
  padding: 8px 18px;
  margin-top: 20px;
  position: relative;
  top: -34px;
}

.jobsBtns {
  height: 40px;
}

.headerLocationSearch {
  height: 7px;
  width: 70%;
}

.lastDateAndCard {
  display: flex;
  gap: 30px;
  /* align-items: center; */
}

.headersBtn {
  display: flex;
  gap: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.search {
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: #9d9ddb;
  border: 2px solid #9d9ddb;
  color: #ffffff;
  border-radius: 4px;
}

.clear {
  width: 100px;
  height: 30px;
  cursor: pointer;
  background-color: rgb(226, 160, 160);
  border: 2px solid rgb(226, 160, 160);
  color: #ffffff;
  border-radius: 4px;
}

.greenBtn {
  padding: 5px;
  background-color: green;
  border: 2px solid green;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
}

.slider {
  width: 50%;
}

.headersMainJobs {
  display: flex;
  gap: 2px;
}

.headersMainJobs {
  display: flex;
  justify-content: space-around;
}

.disabledBtn {
  cursor: not-allowed;
  pointer-events: none;
}

.commomTextFields{
  outline: none;
}



@media screen and (max-width: 1100px) {
  .headersMainJobs {
    width: 120vw;
  }
}
@media screen and (max-width: 850px) {
  .headersMainJobs {
    width: 140vw;
  }
}
@media screen and (max-width: 680px) {
  .headersMainJobs {
    width: 150vw;
  }
}
@media screen and (max-width: 500px) {
  .headersMainJobs {
    width: 170vw;
  }
}
