*{
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito', sans-serif;
}
@media screen and (max-width:1000px) {
  *{
    font-size: 14px;
  }
}

@media screen and (max-width:800px) {
  *{
    font-size: 12px;
  }
}

@media screen and (max-width:500px) {
  *{
    font-size: 10px;
  }
}


